@font-face {
  font-family: portola-primary;
  src: url("https://aegwebprod.blob.core.windows.net/content/fonts/ABCMonumentGrotesk-Medium.otf");
}
@font-face {
  font-family: portola-body;
  src: url("https://aegwebprod.blob.core.windows.net/content/fonts/ABCMonumentGrotesk-Regular.otf");
}

$yellow: rgba(244, 214, 163, 0.3);
$dark-yellow: #f4d6a3;
$pink: rgba(249,200,194, 0.5);
$body-font: 'portola-body', sans-serif;
$header-font: 'portola-primary', sans-serif;
$accent-font: 'Sonder', serif;
$selection-color: rgba(158,222,219, 0.5);
$body-color: #2d2e31;
$accent-color: #f7b97e;
$subtitle-color: #727078;
$background-color: #f0f0f0;
$portola-blue: #002fa7;
$accent-blue-1: #a2aace;
$accent-blue-2: #8ca5cf;

html {
	background: $background-color;
}

h1 {
	font-family: $accent-font;
	font-weight: 100;
	font-size: 5em;
	//margin: 0.1em 0;
	color: $body-color;
}

h2, h3, h4, {
	margin: 0.1em 0;
	font-family: $header-font;
	color: $portola-blue;
}

h2, h4 {
	text-transform: uppercase;
}

p {
	margin: 0.1em 0;
	font-family: $body-font;
	color: $portola-blue;
}

button {
	padding: 12.5px 18px;
	margin: 0 5px;
	font-family: $body-font;
	color: $portola-blue;
	border: 2px solid $portola-blue;
	background: transparent;
	font-weight: 800;
	cursor: pointer;
	text-transform: uppercase;
}

.background {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;

	img {
		position: absolute;
		display:none;
	}

	#bg1 {
		top: 0;
		left: 0;
		z-index: 2;
	}

	#bg2 {
		right: 0;
		top: 0;
	}
}

.content {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	overflow-y: scroll;
}

.day-header {
	margin: 50px 0;
	text-align: center;

	img {
		max-width: 400px;
	}
}

.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0 50px;
	border-bottom: 1px solid $portola-blue;
	padding-bottom: 25px;

	h4 {
		margin: 0 20px;
		cursor: pointer;
		position: relative;
		letter-spacing: 1px;

		&:hover {
			color: $accent-color;
		}
	}
}

.day-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 50px;

	button.selected {
		background: $portola-blue;
		color: white;
	}
}

.lineup-wrapper {
	margin: 20px auto;
	width: 100%;
	max-width: 1200px;
	overflow-x: scroll;

	.lineup {
		display: flex;
		justify-content: center;
	}

	.stage-wrapper {
		margin: 0 10px;
		width: 200px;
		flex-grow: 0;
		flex-shrink: 0;
		text-align: center;

		.artist-wrapper {
			padding: 15px 10px;
			margin: 10px 0;
			cursor: pointer;
			//background: $accent-blue-1;
			text-align: center;

			h3 {
				color: $body-color;
				text-transform: uppercase;
			}

			p {
				font-size: 12px;
				color: $body-color;
			}

			&.selected {
				border: 2px solid $accent-color !important;
			}
		}

		&:nth-of-type(2n) {
			.artist-wrapper {
				background: $accent-blue-2;
				border: 2px solid $accent-blue-2;
			}
		}

		&:nth-of-type(2n+1) {
			.artist-wrapper {
				background: $accent-blue-1;
				border: 2px solid $accent-blue-1;
			}
		}
	}
}

.schedule-wrapper {
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	box-sizing: border-box;

	.schedule-day {
		margin: 20px 0;
		padding: 20px 0;
	}

	.schedule-item-wrapper {
		padding: 20px;
		margin: 10px 0;
		background: $portola-blue;

		h4, h3, p {
			color: white;
		}

		h3 {
			text-transform: uppercase;
		}

		.schedule-item-location {
			display: flex;
			align-items:center;
			color: $body-color;

			h4 {
				font-weight: 200;
			}
		}

		img {
			width: 12px;
			height: 16px;
			margin-right: 5px;
		}
	}
}

.conflict-wrapper {
	background: $accent-color;
	padding: 20px;
	margin: 10px 0;
	position: relative;

	.conflict-acts-wrapper {
		display: flex;
		align-items: center;

		.act-wrapper {
			width: 200px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	button {
		position: absolute;
		right: 20px;
		bottom: 30px;
		transition: 0.3s;

		&:hover {
			background: $portola-blue;
			color: white;
		}
	}
}

.gap-wrapper {
	border: 1px solid $portola-blue;
	padding: 20px;
	margin: 10px 0;
	position: relative;

	.gap-artists-wrapper {
		display: flex;
		flex-wrap: wrap;
		max-height: 110px;
		overflow: hidden;
		margin-bottom: 10px;
		transition: max-height 0.8s;

		&.open {
			max-height: 5000px;
		}
	}

	a {
		cursor: pointer;
	}

	.collapse {
		font-size: 14px;
		color: $portola-blue;
		text-transform: uppercase;
	}

	.act-wrapper {
		width: 200px;
	}

	#close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	&.hidden {
		display: none;
	}
}

.act-wrapper {
	background: $portola-blue;
	padding: 10px;
	margin: 10px 5px;
	position: relative;

	h3, h4, p {
		color: white;
	}

	h3 {
		text-transform: uppercase;
	}

	.act-location {
		display: flex;
		align-items:center;
		color: $body-color;
		
		h4 {
			font-weight: 200;
		}

		img {
			width: 12px;
			height: 16px;
			margin-right: 5px;
		}
	}

	.action {
		position: absolute;
		right: 5px;
		bottom: 5px;
		//text-decoration: underline;
		font-size: 24px;
		color: $accent-color;
		padding: 5px;
	}
}

@media only screen and (max-width: 650px) {
	.conflict-wrapper button {
		position: relative;
		right: auto;
		bottom: auto;
		margin-left: 0;
	}

	#bg2 {
		display: none;
	}

	.act-wrapper {
		padding-bottom: 20px;
	}
}